.top{
	box-sizing: border-box;
	width: 100%;
	box-shadow: 0px 3px 20px -15px #262626;
	position: absolute;
	background-color: #fff;
	overflow: hidden;
}

.top .header{
	padding: 0 250px;
}

#bar{
	width: 100%;
	margin: 10px 30px;
}

#bar .left{
	width: 50%;
}

#bar .right{
	width: 50%;
}

#bar .left .row .name{
	margin: 0;
	float: left;
}

#bar .left .row .name button
{
	border: 0px;
	font-size: 24px;
	background-color: #fff;
}

#bar .left .row .name button:hover
{
	cursor: pointer;
}

#bar .left .row .name .newblue{
	margin-right: -3px;
}

#bar .left .row .name .black{
	margin-left: -3px;
}

#bar .left .row .searchbox{
	margin: 0;
	float: right;
}

#bar .left .row .searchbox input
{
	height: 25px;
	width: 240px;
}

#bar .left .row .searchbox input[type="text"]
{
	border: 1px solid #dedede;
	border-radius: 5px;
	color: #808080;
	padding: 0 15px;
}


#bar .left .row .searchbox input[type="image"]
{
	margin-top: 9px;
	margin-left: -17px;
	position: absolute;
	width: 10px;
	height: 10px;
	border: 0px;
	background-color: #fff;
	color: #808080;
}

#bar .left .row .searchbox button:hover
{
	cursor: pointer;
}

#bar .right .row a
{
	float: right;
	margin: 0 30px;
} 

#bar .right .row a button
{
	border: 0px;
	background-color: #fff;
	font-size: 14px;
	font-weight: bold;
}

#bar .right .row a button:hover
{
	cursor: pointer;	
}

.bottom{
	z-index: -10;
	overflow: hidden;
}

.bottom .homebox{
	border-left: 200px solid #262626;
	border-right: 200px solid #262626;
	background-color: white;
	height: auto;
}

#searchbtn{
	width: 15px;
	height: 15px;
}