.box div, .box ul {
    padding-top: 20px;
    text-align: center;
}


td.table_box {
    border-bottom: 1px solid rgb(179, 171, 171);
    padding: 30px;
}

td.link {
    border-bottom: 1px solid rgb(179, 171, 171);
    padding-bottom: -30px;
    padding-right: 10px;
    margin-top: 500px;
    z-index: -50;
}

td.description {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(179, 171, 171);
}

td.rating{
    padding-left: 30px; 
}

th.film_title{
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
}

th.rating{
    color: grey;
}

.color_page {
    border: 1px solid rgb(177, 177, 177);
    color: rgb(177, 177, 177);
    background-color: white;
}

button {
    border-radius: 5px ;
    border: 1px solid aqua;
    /*color: aqua;*/
    background-color: white;
    padding: 5px 10px;
    margin:5px;
}

button:disabled{
    border: 1px solid rgb(177, 177, 177);
    color: rgb(177, 177, 177);
    background-color: white;
}

button.private{
    border: 0px;
}

img{
    border-radius: 5px;
}

a.link_detail{
    background-color: white;
    color: #00acd1;
    text-decoration: none;
    font-weight: bold;
}

.isi {
    background: white;
    min-height: 100vh;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}
