html, body{
    font-family: 'Helvetica',sans-serif;
}

img{
    border-radius: 5%;
}

ul{
    list-style-type: none;
}

hr{
    width: 100%;
    margin-left: -1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom{
    min-height: 100vh;
}

.isi{
    float: left;
    padding-top: 53px;
    padding-left: 44px;
    padding-right: 44px;
    font-size: 11px;
    width: 90%;
    min-height: 100vh;
    background: white;
}

.judul{
    white-space: nowrap;
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
    margin-left: 40px;
    margin-top: 100px;
}

.listFilm{
    padding-right: 40px; 
}

.containerFilm{
    display: flex;
}

.descBox{
    margin-left: 40px;
    font-weight: bold;
    width: 100%;
}

.nama{
    margin-top: 40px;
    font-size: 16px;
}

.schedule{
    font-size: 14px;
    margin-top: -30px;
}

.jadwal{
    color: #00c1ec;
}

.jadwalFilm{
    margin-top: -30px;
    margin-left: 80px;
}

.addReview{
    border: 1.5px solid rgb(103, 174, 207);
    border-radius: 8px;
    width: 130px;
    height: 40px;
    background-color: rgb(103, 174, 207);
    color: white;
    margin-top: 120px;
    cursor: pointer;
}

.editReview{
    border: 1.5px solid rgb(76, 175, 84);
    border-radius: 8px;
    width: 130px;
    height: 40px;
    background-color: rgb(76, 175, 84);
    color: white;
    margin-top: 120px;
    cursor: pointer;
}

.delReview{
    border: 1.5px solid rgb(209, 68, 68);
    border-radius: 8px;
    width: 130px;
    height: 40px;
    background-color: rgb(209, 68, 68);
    color: white;
    margin-top: 120px;
    margin-right: 10px;
    cursor: pointer;
}