.isi{
    background: white;
    min-height: 180vh;
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 50px;

}

.flex-container {
    display: flex;
    background-color: white;
    border-bottom: 1px grey;
}
  
.flex-container > div {
  background-color: white;
  padding-bottom: 10 px;
  margin: 5px;
  align-content: space-between;
  line-height: 5px;
  font-size: 30px;
  
}

td.atas {
    padding: 5px;
    margin: 0px 0px;
}

.flex-baru {
    padding-top: 10px;
    display: flex;
}

.flex-baru > div.kursi {
    background-color: white;
    padding-bottom: 10 px;
    margin: 5px;
    align-content: space-between;
    line-height: 20px;
    font-size: 15px;
    width: 520px; 
}

.flex-baru > div.hitung {
    background-color:white;
    padding-bottom: 10 px;
    padding-left: 20px;
    margin: 10px;
    width: 520px; 
}


.btn {
    width :35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.vl {
    border-left: 1px solid grey;
    height: 200px;
}

.screen:disabled{
    width: 440px;
    height: 40px;
    background: grey;
    color: white;
    border: solid grey;
    margin-top: 20px;
    size: 35px;
    letter-spacing: 4px;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: aqua;
    color: white;
}

.btn_active{
    width :35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;

    border-radius: 5px ;
    border: 1px solid #00acd1;
    background-color: #00acd1;
    color: white;
    padding: 5px 10px;
    margin:5px;
}

.booking{
    color: rgb(73, 70, 70);
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.kalau{
    color: gray;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

.btn {
    border-radius: 5px ;
    border: 1px solid #00acd1;
    color: #00acd1;
    background-color: white;
    padding: 5px 10px;
    margin:5px;
}

.btn:disabled{
    border: 1px solid grey;
    color: grey;
    background-color: rgb(228, 222, 222);
}

.seat{
    width: 300px;
    float: left;
    height: 20px;
}

.harga{
    width: 140px;
    float: right;
    height: 20px;
    text-align: right;
}

.buy-ticket{
    margin-top: 30px;
    float: right;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid #00acd1;
    background-color: #00acd1;
    color: white; 
    border-radius: 5px;
}



