.bottom{
    min-height: 100vh;
}

.isi{
    float: left;
    padding-top: 53px;
    padding-left: 44px;
    padding-right: 44px;
    font-size: 11px;
    width: 90%;
    min-height: 100vh;
    background: white;
}

.filmReview{
    float: left;
    width: 100%;
}

.namaFilm{
    margin-top: 150px;
    margin-left: 140px;
    white-space: nowrap;
    width: fit-content;
    font-size: 24px;
}

.filmReview button{
    float: left;
    margin-top: 148px;
    margin-left: 80px;
    background-color: #fff;
    border: 0px;
}

.revRatBox {
    height: 100%;
    margin-left: 200px;
}

.addRating{
    font-size: 11px;
}

.nama{
    margin-top: 50px;
    white-space: nowrap;
}

.bintang {
    margin-top: -50px;
    margin-left: 70px;
}

.bintang .checked{
    color: orange;
}

.addReview{
    margin-top: 100px;
    font-size: 11px;
    white-space: nowrap;
}

.addReview .nama{
    white-space: nowrap;
    width: fit-content;
}

.review{
    margin-top: -35px;
    margin-left: 120px;
}

.review textarea{
    border: 1.5px solid #dedede;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    color: #292929;
    width: 80%;
    height: 120px;
    resize: none;
}

button.cancel{
    border: 1.5px solid lightgray;
    border-radius: 8px;
    width: 90px;
    height: 40px;
    color: gray;
    margin-left: 62%;
    margin-top: 0px;
    cursor: pointer;
}

button.submit{
    border: 1.5px solid rgb(103, 174, 207);
    border-radius: 8px;
    width: 90px;
    height: 40px;
    background-color: rgb(103, 174, 207);
    color: white;
    margin-left: 1%;
    margin-top: 0px;
    cursor: pointer;
}

button.edit{
    border: 1.5px solid rgb(103, 174, 207);
    border-radius: 8px;
    width: 90px;
    height: 40px;
    background-color: rgb(103, 174, 207);
    color: white;
    margin-left: 1%;
    margin-top: 0px;
    cursor: pointer;
}